# Fix sphinx-rtd-theme to the minimal version that supports addons: https://github.com/readthedocs/sphinx_rtd_theme/pull/1526
sphinx-rtd-theme==3.0.0rc4

pygments-lexer-solidity>=0.7.0
sphinx-a4doc>=1.6.0

# Sphinx 2.1.0 is the oldest version that accepts a lexer class in add_lexer()
sphinx>=6.0, <9.0
